.app {
  max-width: 40%;
  margin: 60px auto;
  padding: 24px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  background-color: #98c3cd;
}

ul {
  list-style: none;
  padding: 0;
}

.input-container {
  margin: 40px 0 40px 0;
  display: flex;
  align-items: baseline;
  label {
    margin-right: 10px;
  }
}

.input-field {
  display: block;
}

.task-input {
  padding: 5px;
  font-size: 16px;
}

.error {
  color: red;
}

.edit-task {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-options {
  display: flex;
  gap: 8px;
  margin: 16px 0;
}

.filter-options > div {
  padding: 6px 12px;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.2s;
}

.filter-options > div.active {
  background: #17a012;
  color: white;
}

hr {
  border: none;
  height: 2px;
  background-color: #434e4291;
}

.no-tasks {
  text-align: left;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task {
  display: flex;
}

.container h1 {
  justify-self: left;
}